body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
}


.navbar-custom {
    background-color: rgb(18, 18, 62) !important
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white !important
}

a.nav-link {
    color: white;
}
.navbar .nav-link.active {
    color: white!important
  }

.navbar-toggler {

    background: white;
}

#element {
    color: rgb(170, 107, 228);
    font-size: large;
}

.lead {
    font-size: 1.7rem;
}

a.hover_black:hover {
    color: rgb(170, 107, 228) !important;
}

img.me {
    border-radius: 50;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.custom-footer {
    background-color: rgb(18, 18, 62);
}

.project-desc {
    margin-left: 300px;
    margin-right: 300px;
}

/* Custom CSS to set a fixed height for card bodies and align buttons */
.custom-card-body {
    height: 300px;
    /* Adjust this value based on your preference */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Add margin to the button for spacing */
.custom-card-body .btn {
    margin-top: 10px;
}

.custom-card {
    background-color: rgb(18, 18, 62)!important;
    color: white;
  }

  /* Custom CSS for the card headers */
  .custom-card .card-header {
    background-color: rgb(18, 18, 62);
    color: #0D6EFD!important;
    border: 1px solid #0D6EFD;
  }

  /* Custom CSS for the card texts */
  .custom-card .card-text {
    color: white;
  }

  /* Custom CSS for the card buttons */
  .custom-card {
    background-color: white;
    color: rgb(18, 18, 62);
  }

.about-me-section {
    margin-bottom: 100px;
 
}


    /* Custom CSS for vertical alignment */
    .skill-container {
        display: flex;
        align-items: center;
      }
    
      
      .skill-name {
        margin-right: 5px;
        color: rgb(170, 107, 228);
      }
    
      /* Set a fixed height for the progress bars */
      .progress {
        height: 25px;
      }

 .about-me-para{
    padding-left: 40px;
    padding-right: 40px;
 }


.bi-github{
    color: white;
}

.footer-allen {
    color: rgb(170, 107, 228);
    text-decoration: none;
}




/*

0D6EFD

make this the colour of buttons
*/